
.table1 {
    width:400px;
    margin-left: 0px;
    font-size:14px;
    border:2px solid #000;
    border-collapse:collapse; }
.table1 td {
        color:#000099;
        vertical-align:middle;
        text-align:left;
        border:2px solid #000; }
.table1 tr {
        color:#000000;
        vertical-align:middle;
        text-align:left;
        border:2px solid #000; }
    
